##########################
#Print Start
##########################
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
#   use the following in slicer to pass variables
#   PRINT_START BED=[first_layer_bed_temperature] HOTEND={first_layer_temperature[initial_extruder]+extruder_temperature_offset[initial_extruder]} CHAMBER=[chamber_temperature] SIZE={first_layer_print_min[0]}_{first_layer_print_min[1]}_{first_layer_print_max[0]}_{first_layer_print_max[1]}
gcode:
#####
#set slicer parameters
#####
    {% set BED = params.BED|default(110)|int %}
    {% set EXTRUDER = params.EXTRUDER|default(245)|int %}
    {% set CHAMBER = params.CHAMBER|default(60)|int %}
    {% set FL_SIZE = params.SIZE|default("100_100_200_200")|string %}
    {% set material = params.MATERIAL|default("ABS")|string %}
    {% set Z_ADJUST = params.Z_ADJUST|default(0.0)|float %}
    {% set filament_name = params.FILAMENT_NAME|default("Polymaker_ABS")|string %}
    {% set nozzle = params.NOZZLE|default(0.4)|float %}
#####
#Display all variables above
#####
    {action_respond_info("Print_Start Macro Inputs:\n"
                         "BED = %i\n"  
                         "EXTRUDER = %d\n" 
                         "CHAMBER = %i\n"  
                         "FL_SIZE = %s\n"
                         "material = %s\n" 
                         "Z_Adjust = %.3f\n" 
                         "nozzle = %.2f\n"
                         "filament_name = %s\n" % 
                         (BED, EXTRUDER, CHAMBER, FL_SIZE, material, Z_ADJUST, nozzle, filament_name))}                                 
#####
#intial conditiona to clear or calculate
#####
    
    M117 Starting...
    STATUS_READY
    BED_MESH_CLEAR                                                  ;clear the previous bed mesh
    M141 S{CHAMBER}
    {% if material == "PLA" %}
       NEVERMORE_OFF
    {% else %}
       NEVERMORE_SLOW                                                  ;turn nevermore on slow till chamber warms up
    {% endif %} 
    #VENT_OFF
    SET_PIN PIN=caselight VALUE=1                                   ;turn the case lights on
    #SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0             ;enable the filament sensor
    SET_Z_THERMAL_ADJUST ENABLE=0                                   ;turn off Frame comp until all leveling is done
    #SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0             ;enable the filament sensor

#####
#Heating
#####
    M140 S{BED}                                                     ;start heating the bed to temp 
    #M109 S{170}                                                     ;head extruder to 170 to keep low for klicky, and to have it high enogh to clean
    {% if printer.extruder.temperature < 170 %}                     ;if nozzle less than 170 then heat nozzle to 170
      M109 S{170}                                                   ;else set to 170 and continue 
      {action_respond_info("Extruder below 170 heating") }
    {% else %}                                                      ;the nozzle will cool down to 170  
      M104 S{170}
      {action_respond_info("Extruder above 170 continuing and reducing to 170") }
    {% endif %}
    M190 S{BED}                                                     ;heat bed to required temp, and wait for bed to get to temp
    SET_CHAMBER_MIN S={CHAMBER} MATERIAL={material}                 ;wait for the chamber to heat
    #START_VOC_DATA                                                 ;starts collecting VOC data
    {% if material == "PLA" %}
       NEVERMORE_OFF
        M141 S{30} ;keep chamber low
    {% else %}
       NEVERMORE_50                                                    ;Turn nevermore and bed fans on full blast
       M141 S{CHAMBER}
    {% endif %}
    #VENT_SLOW                                                       ;create a negative pressure
    STATUS_READY
#####
#ERCF
#####  
    ERCF_HOME                                                       ;home ERCF
#####
#level the bed
#####  
    G32                                                             ;does the following home - QGL - home - redoing this becasue warmup may cause expand and contract 
    CLEAN_NOZZLE
    G1 Z30 F18000                                                   ;move up in z to clear the nozzle brush
#####
#Determine z-offset and bed mesh
##### 
    SET_Z_THERMAL_ADJUST ENABLE=1                                   ;enable frame compensation before starting the leveling  
    COMPUTE_MESH_PARAMETERS SIZE={FL_SIZE}                          ;computer mesh parameters for adapative bed mesh
    STATUS_CALIBRATING_Z
    CALIBRATE_Z                                                    ;calibrate the first layer using the center of the mesh
    #SET_GCODE_OFFSET Z_ADJUST={Z_ADJUST} MOVE=1
    STATUS_MESHING
    ADAPTIVE_BED_MESH SIZE={FL_SIZE}
#####
#heat extruder to print temp and clean
##### 
    M109 S{EXTRUDER}                                                ;added his here to make sure extruder temp is up before print
    CLEAN_NOZZLE                                                    ;make sure nozzle is clean from ooze before printing
    {% if material == "PLA" %}
       NEVERMORE_OFF
    {% else %}
       NEVERMORE_ON                                                    ;Turn nevermore and bed fans on full blast
    {% endif %}
#####
#Set material characteristics from slicer
#####  
     SET_MATERIAL MATERIAL={material} Z_ADJUST={Z_ADJUST} NOZZLE={nozzle} FILAMENT_NAME={filament_name}
     #SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1             ;enable the filament sensor
#####
#Prime the nozzle and start print
#####  
    STATUS_PRINTING
    PRIME_NOZZLE                                                    ;prime the nozzle
    M83                                                             ;use relative distance for extruder
    M117 Printing...
    {action_respond_info("Print Starting")}

##########################
#Print End
##########################
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G1 E-3.5 F3600                ; retract filament by 3.5mm
    G92 E0                         ; zero the extruder
#####
#new print end
#####
    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    #   Check end position to determine safe direction to move
    #X-position
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}
    #y-position
    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}
    #Z-position
    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    {% set z_park_abs = printer.toolhead.position.z + 25.0 %}
    {% if z_park_abs > max_z %}
        {% set z_park_abs = max_z %}
    {% endif %}

    #move tool head to remove stringing
    G91                              ;realtive coordinates
    G0 Z{z_safe} F3600               ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing


    G90                               ;absolute positioning
    G0 Z{z_park_abs} F3600           ; move nozzle up away from the print
    G0 X{max_x / 2} Y{max_y} F15000  ; park nozzle at rear middle

    TURN_OFF_HEATERS
    BED_MESH_CLEAR
    SET_Z_THERMAL_ADJUST ENABLE=0                                        ;disable frame compensation
    #SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0             ;enable the filament sensor
    SET_PIN PIN=caselight VALUE=0                                  ;turn the case lights off
    SET_GCODE_OFFSET Z=0.0                                         ;reset z_adjust to 0.0
    CASELIGHT_BLINK I=5
    SET_PIN PIN=caselight VALUE=0                                  ;turn the case lights off
    #####
    #need to turn vent on all the way.
    #need to turn nevermore on all the way
    #need to check VOC and turn off nevermore and vent when outside = inside
    #UPDATE_DELAYED_GCODE ID=VOC_VENTING DURATION=100               ;this should also turn the VOC data off
    #VENT_ON                                                        ;turn the exhaust fan on
    #UPDATE_DELAYED_GCODE ID=DELAYED_VENT_OFF DURATION=600         ;turn the EXHAUST fan off after 1200s or 20 mins - 600 is 10 min
    NEVERMORE_OFF
    #VENT_OFF
    #M141 S{30}                                                      ;chamber at 30
    #STOP_VOC_DATA
    #UPDATE_DELAYED_GCODE ID=REMOVE_VOC DURATION=1                ;turn on remove_voc gcode with an initial duration of 1
    #BEEP I=5
    {action_respond_info("Print Complete")}
    M117 Print Complete
    STATUS_OFF
