# [filament_motion_sensor filament_sensor]
# detection_length: 3.5 #1.5 may work #7.0 #10.0 was working
# #   The minimum length of filament pulled through the sensor to trigger
# #   a state change on the switch_pin
# #   Default is 7 mm.
# extruder: extruder
# #   The name of the extruder section this sensor is associated with.
# #   This parameter must be provided.
# switch_pin: ^PG11
# pause_on_runout: False
# runout_gcode:
#     {action_respond_info("Filament run-out or snagged /n Filament encoder runout" ) }             
#     M117 Check Filament - Filament run-out or snagged
#     M117 Filament encoder runout
#     PAUSE
#     #LCDRGB R=1 G=0 B=0  # Turn LCD red
#     #BEEP I=12
#     CASELIGHT_BLINK I=12 
# insert_gcode:
#     M117 Resuming Print
#     M117 Filament encoder inserted
# # event_delay: 3.0 #from https://docs.vorondesign.com/community/electronics/120decibell/filament_runout_sensor.html
# # pause_delay: 0.5
# #   See the "filament_switch_sensor" section for a description of the
# #   above parameters.


[filament_switch_sensor switch_sensor]
switch_pin: ^PG15
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  {action_respond_info("Filament run-out or snagged /n Filament switch runout" ) } 
  M117 Filament switch runout
insert_gcode:
  M117 Resuming Print
  M117 Filament switch inserted

#################################################################
# [delayed_gcode DISABLEFILAMENTSENSOR] ; This will disable the SFS 1 second after klipper starts
# initial_duration: 1
# gcode:
#     SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0 

# [gcode_macro FILAMENT_SENSOR_ON]
# gcode:
#   M117 ENABLING the Smart Filament Sensor
#   G92 E0
#   SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1             ;enable the filament sensor

# [gcode_macro FILAMENT_SENSOR_OFF]
# gcode:
#   M117 DISABLING the Smart Filament Sensor
#   G92 E0
#   SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0             ;enable the filament sensor


   